<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <script src="/static/js/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="static/js/vis-timeline-graph2d.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <!--<script src="https://kit.fontawesome.com/ae9515790e.js" crossorigin="anonymous"></script>-->
  <script src="/static/js/fontawesome.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Recent Additions <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item">Page 1-a</a></li>
            <li><a href="#" class="dropdown-item">Page 1-b</a></li>
            <li><a href="#" class="dropdown-item">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="/contribute"><span class="glyphicon glyphicon-user"></span> Contribute!</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> About</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">

    {{ content }}

    <!--<p id="demo"></p>-->
  <script type="text/javascript">
    // load data via an ajax request. When the data is in, load the timeline
    $.ajax({
      url: '/data/data.json',
      success: function(data) {
        // hide the "loading..." message
        //  document.getElementById('loading').style.display = 'none';

        // DOM element where the Timeline will be attached
        var container = document.getElementById('exvisualization');

        // Create a DataSet (allows two way data-binding)
        var items = new vis.DataSet(data);
        var originalItems = items;
        var windowHeight = Math.round($(window).height() * 0.50) + 'px';
        var windowWidth = Math.round($(window).width() * 0.99) + 'px';
        // Configuration for the Timeline
        var options = {
          width: windowWidth,
          height: windowHeight,
          showMajorLabels: false,
          zoomMin: 473353890000, // 15 years in ms
          tooltip: {
            followMouse: true,
          },
        };
      
        var maxid = items.max('id');
        var maxidvalue = maxid['id'];
              
        for (let i = 1; i < maxidvalue; i++) {
          var item1 = items.get(i);
          var outitem = item1['zoomLevel'];
          if (outitem == 2) { 
            idrem = item1['id'];
            items.remove(idrem);
          }
        }

        // Create a Timeline

      var timeline = new vis.Timeline(container, items, options);
    
      // listener experiment 
       timeline.on('rangechanged', function() {
            var range = timeline.getWindow();
            var start_stamp = range.start.valueOf();
            var end_stamp = range.end.valueOf();
            var interval = end_stamp - start_stamp;
            var years = interval / 31536000000;
            
            for (let j = 1; j < maxidvalue; j++) {
              var item2 = originalItems.get(j);
              var itemzoom = item2['zoomLevel']
              if (years < 96 && itemzoom == 3) {
                var idtoadd = item_test['id'];
                items.add(idtoadd);
              }
            }

            console.log(item2);
          }
        );
        $(window).on('resize', function(){
            timeline.setOptions({                
                width: (Math.round($(window).width() * 0.99)) + 'px',
                height: (Math.round($(window).height() * 0.50)) + "px",
            });
          });
      
      },
      error: function(err) {
        console.log('Error', err);
        if (err.status === 0) {
          alert('Failed to load data.\nPlease run this example on a server.');
        } else {
          alert('Failed to load data.');
        }
      }

    });

  </script>

  </div>
  <br>
  <footer>
    <a href="#"><i class="fa fa-envelope fa-1" aria-hidden="true"></i></a>
    <a href="https://github.com/sftime/sftime.github.io"><i class="fa fa-github fa-1" aria-hidden="true"></i></a>
  </footer>
</body>

</html>
